<div
    style="
        width: 100dvw;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    "
>
    <div
        style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 3rem 7rem;
            border-radius: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        "
    >
        <div>
            <img
                src="https://firebasestorage.googleapis.com/v0/b/acs-web-a585e.appspot.com/o/assert%2Flogo%2Flogo-20th-acs.png?alt=media&token=d00836b1-53fc-436e-ae59-5eda3f2affc7"
                alt=""
            />
        </div>
        <div style="text-align: center">
            <p style="line-height: 1.5rem">
                หากคุณต้องการเปลี่ยนรหัสผ่าน<br />สามารถคลิกปุ่มด้านล่างเพื่อเริ่มต้น
            </p>
        </div>
        <div>
            <button
                style="
                    width: 15rem;
                    height: 3rem;
                    border-radius: 0.5rem;
                    background-color: #120554;
                    color: white;
                    font-weight: bold;
                    padding: 0;
                    border: none;
                "
                onclick="location.href='<%= locals.url %>'"
            >
                เปลี่ยนรหัสผ่าน
            </button>
        </div>
        <div style="text-align: center">
            <p style="line-height: 1.5rem; color: #999999">
                หากคุณไม่ได้ขอเปลี่ยนรหัสผ่าน&nbsp;คุณสามารถเพิกเฉยได้อย่างปลอดภัย<br />มีเพียงบุคคลที่เข้าถึงอีเมลของคุณเท่านั้นที่สามารถเปลี่ยนรหัสผ่านได้
            </p>
        </div>
    </div>
</div>
